@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: auto;
}

body {
    font-family: "Lato", sans-serif;
    background: rgb(239, 233, 244)
}



header {
    background: rgb(72, 77, 109);
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid 10px rgb(32, 6, 99);
    padding: 30px;

}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 50px;
    color: rgb(239, 233, 244);
}

h4 {
    color: rgb(239, 233, 244);
}

h2 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

h3 {
    font-family: "Comfortaa", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
    color: rgb(0, 54, 161);
    padding: 50px;
}

.bi {
    color: #ffffffe4;
}

#menu-principal {
    list-style-type: none;
    display: flex;

}

nav {
    background: rgb(72, 77, 109);
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;

}

#menu-principal a {
    text-decoration: none;
    color: rgb(239, 233, 244);
    font-size: 25px;
    font-weight: bolder;
}

#menu-principal a:hover {
    color: #ffffff9a;
    background-color: rgba(137, 188, 179, 0.779);
}

#sobreMi {
    display: flex;
}

#foto-perfil {
    width: 300px;
    border-radius: 50px;
    float: right;
    margin: 50px;

}

main {
    overflow: hidden;
}

section {
    overflow: hidden;
}

#proyectos {
    padding: 20px 30px;
    border-top: solid 5px rgb(20, 101, 112);
    margin-top: 30px;
    text-align: center;
}


#lista-proyectos {
    display: flex;
}

.proyecto {

    float: left;
    width: 33%;
    margin-top: 20px;
}

.proyecto img {
    width: 90%;
    margin-top: 10px;
}

.proyecto p {
    text-align: justify;
    padding: 20px;
    color: rgb(0, 54, 161);
}

.proyecto h3 {
    color: rgb(240, 128, 58);
    font-weight: li;
}

#Habilidades {
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-top: solid 5px rgb(20, 101, 112);
    margin-bottom: 30px;
}

progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista-tecnologias {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding: 10px;
    gap: 15px;
}

.lista-tecnologias li {
    background-color: rgb(28, 103, 73);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}

#contacto {
    padding: 40px;
}

.campos {
    width: 50%;
    clear: both;
    font-size: 29px;
}

.campos label {
    padding-right: 20px;
}

.campos input,
select {
    padding: 10px;
    border: solid 5px #3e8284;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}

.campos {
    padding: 10px;
    display: flex;
    align-items: center;
    /* Centra verticalmente label e input */
    margin-bottom: 10px;
    /* Espacio entre campos */
}

.campos button {
    background-color: #3e8284;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
}

.campos label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.campos input,
.campos select {
    flex: 1;
    padding: 5px;
}



footer {
    overflow: hidden;
    padding: 20px;
    background: rgb(72, 77, 109);
    text-align: center;
    border-top: solid 10px rgb(32, 6, 99);
}

footer p {
    font-family: "Lato", sans-serif;
    color: rgb(219, 224, 236);
}